.page-caps-holder {width: 100%;color: #928059;float: left;line-height: 16px !important;padding: 33px 40px 30px 80px;text-align: justify;}
.quot {background: url("./images/bg_quote_wrap.png") no-repeat scroll 20px 25px  rgba(0, 0, 0, 0);}
.quot h2{color:#5C3E07; margin-top:0;}