<img src="./images/Inner-pages3.png">
<div class="content-holder">
    <div class="page-caps-holder">
        <ul class="genre">
            <!-- <li *ngFor="let category of categories">
                <a [routerLink]="['/products/',category.categoryId]" href="">{{category.categoryId}} - {{category.categoryName}} /</a>
            </li> -->
        </ul>
        <div class="article-holder">
            <article *ngFor='let product of products'>
                <a (click)=showConfirm(product)>
                    <div class="product-image text-center">
                        <img class="img-responsive" [src]='product.imageUrl[0]'>
                    </div>
                    <div class="product-description">
                        <ul>
                            <li>{{product.categoryId}} / {{product.productCode}}</li>
                            <li>
                                <label>İsim :</label>{{product.productName}}
                            </li>
                            <li>
                                <label>Model :</label>{{product.productModel}}
                            </li>
                            <li>
                                <label>Açıklama :</label>{{product.description}}
                            </li>
                            <li>
                                <label>Ağaç :</label>{{product.wood}}
                            </li>
                            <li>
                                <label>Genişlik :</label>{{product.productWidth}}
                            </li>
                            <li>
                                <label>Yükseklik :</label>{{product.productHeight}}
                            </li>
                            <li>
                                <label>Fiyat :</label>{{product.price}}
                            </li>
                        </ul>
                    </div>
                </a>
            </article>
        </div>
    </div>
</div>
<div>
</div>