.page-caps-holder {width: 100%;color: #928059;float: left;line-height: 16px !important;padding: 33px 40px 30px 80px;text-align: justify;}
.quot {background: url("./images/bg_quote_wrap.png") no-repeat scroll 20px 25px rgba(0, 0, 0, 0); }
.quot h2{color:#5C3E07; margin-top:0;}

:host >>>.carousel-control span {font-size: 75px;color: #fff;display: block;width: 50px;height: 50px;background:rgba(0, 0, 0, 0.8);top: 46%;line-height: 1;cursor:pointer;}
:host >>> .carousel-control span:before {display: block;line-height: 0.45;}
:host >>> .icon-next {right: 30px;}
:host >>> .icon-prev {left: 30px;}
:host >>> .carousel-indicators {bottom: 0px;}
:host >>> .carousel-indicators li {width: 10px;height: 10px;border-radius: 50%;border:0;transition: 0.3s;margin: 5px;background:rgba(255, 255, 255, 0.5);}
:host >>> .carousel-indicators .active  {background:rgba(255, 255, 255, 1);}
.banner-desc {position: absolute; bottom:15px; left:0;}
.banner-desc span {	background-color: #000000;color: #999999;font-family: Trebuchet MS;font-size: 25px;font-style: italic;margin-left: 20px;opacity: 0.6;padding: 10px;}
