<carousel>
    <slide *ngFor="let banner of banners">
        <p class="banner-desc">
            <span>{{banner.Desc}}</span>
        </p>
        <img [src]="banner.Url" alt="kafes atölyesi" style="width:100%">
    </slide>
</carousel>
<div class="content-holder">
    <div class="page-caps-holder quot ">
        <h2>Home Page</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, placeat corrupti facere ex provident dignissimos
            exercitationem necessitatibus dolorum ullam perferendis doloribus. Quia, explicabo molestias facilis nulla magni
            impedit unde quasi.</p>
    </div>
</div>